/**
 *
 * {{titleCase name}}
 *
 * {{briefDescription}}
 *
 */
import * as React from 'react';
import './main.css'
import styles from './{{properCase name}}.module.css'

import { {{properCase name}}Props } from '@wprdc-types/{{kebabCase name}}'

export const {{ properCase name }}: React.FC<{{ properCase name }}Props> = ({}) => {
  return (
    <div>

    </div>
  );
};
